extends layout

block content

  if users.length > 0
    div
      table
        thead
          tr
            th Name
        tbody
          each user, i in users
            tr 
              td= user.name
  else 
    p No users.

  a(href='/addUser/') Add user